<!DOCTYPE html>
<html lang="en">
  <header>
    <h1><% include ./partials/_header %></h1>
  </header>
    <body style="font-size:20px; padding:50px;">
     <h3><%='Create TinyURL'%></h3>
     <h2>My URLs</h2>

     <a href='/urls/new'><button type="submit" class="btn btn-link">Create a new short URL</button></a>

        <% if(usersURL) { %>
        <% Object.keys(usersURL).forEach(function(shortURL) { %>
         <li>
        <%= usersURL[shortURL].longURL %> shortURL==> <%= shortURL %>
           <form method="POST" action="/urls/<%= shortURL %>/delete">
              <button type="submit" class="btn btn-danger">Delete</button>
           </form>

           <form  method="GET" action="/urls/<%= shortURL %>">
             <button type="submit" class="btn btn-link">Edit</button>
           </form>
         </li>
        <% }); %>

        <% }else { %>
        Please login first
        <% } %>

    </body>
</html>

